# Java
*.class
*.jar
*.war
*.nar
*.ear

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# J2ME
.mtj.tmp/

# Logs
*.log

# Archives / Packages
*.zip
*.tar.gz
*.rar

# Crash Logs
hs_err_pid*
replay_pid*

# Environment Variables
.env
.env.*

# Intellij IDEA
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Extra
*.swp
*.swo
*.bak
*.tmp
*.out
*.orig
*.rej
devcontainer.env
